<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head><style type="text/css">


Input
{
BACKGROUND-COLOR: #FFFFFF; 
BORDER-BOTTOM: #999999 1px solid;
BORDER-LEFT: #999999 1px solid;
BORDER-RIGHT: #999999 1px solid;
BORDER-TOP: #999999 1px solid;
COLOR: #000000;
border-color: #999999 #999999 #999999 #999999; font-size: 9pt
}


</style>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<title>Foshan Marketon Electric Company Limite-Marketon-small appliance production-Electric pressure cooker,Induction cooker,Soymilk,Electric kettle,Convection Oven,Yogurt Maker</title>

        <style type="text/css">td img {display: block;}body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background:#E3E3E3;
       }
        </style>

	<link href="{{ site.url }}/resource/css.css" rel="stylesheet" type="text/css">
</head>


<body>
<table border="0" align="center" width="1002" cellspacing="0" cellpadding="0">

  <tbody>
	<tr>
   		<td><img border="0" width="18" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
  		<td><img border="0" width="214" height="1"src="{{ site.url }}/resource/spacer.gif" alt=""></td>
  		<td><img border="0" width="14" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
   		<td><img border="0" width="15" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
   		<td><img border="0" width="15" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
  		<td><img border="0" width="405" height="1"src="{{ site.url }}/resource/spacer.gif" alt=""></td>
   		<td><img border="0" width="14" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
   		<td><img border="0" width="14" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
   		<td><img border="0" width="16" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
   		<td><img border="0" width="255" height="1"src="{{ site.url }}/resource/spacer.gif" alt=""></td>
   		<td><img border="0" width="3" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
   		<td><img border="0" width="19" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
  		 <td><img border="0" width="1" height="1" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
 	 </tr>

  	 <tr>
   		<td colspan="12">
		 <table border="0" width="1002" cellspacing="0" cellpadding="0">

  		  <tbody>

		  <tr>
   		   <td><img border="0" width="1002" height="1" src="{{ site.url }}/resource/spacer(1).gif" alt=""></td>
   		   <td><img border="0" width="1" height="1" src="{{ site.url }}/resource/spacer(1).gif" alt=""></td>
 		  </tr>


  		  <tr>
   		   <td><img border="0" width="1002" height="133" src="{{ site.url }}/resource/top_r1_c1.jpg" alt="" name="top_r1_c1" usemap="#top_r1_c1Map" id="top_r1_c1"></td>
   		   <td><img border="0" width="1" height="133" src="{{ site.url }}/resource/spacer(1).gif" alt=""></td>
  		  </tr>

  		  <tr>


   <td rowspan="2">
<div id="lanrentuku"><embed width="1002" height="300" flashvars="pics={{ site.url }}/resource/01.jpg|{{ site.url }}/resource/02.jpg|{{ site.url }}/resource/03.jpg|{{ site.url }}/resource/04.jpg|&amp;links= {{ site.url }}/pages/product.html | {{ site.url }}/pages/product.html | {{ site.url }}/pages/product.html | {{ site.url }}/pages/product.html | links={{ site.url }}/pages/product.html | links={{ site.url }}/pages/product.html | links={{ site.url }}/pages/product.html&amp;pic_width=1002&amp;pic_height=300&amp;show_text=0&amp;txtcolor=0000ff&amp;bgcolor=DDDDDD&amp;button_pos=2&amp;stop_time=5000" wmode="opaque" quality="high" name="lanrentuku" id="lanrentuku" src="{{ site.url }}/resource/focus.swf" type="application/x-shockwave-flash"></div>
   </td>


   		<td><img border="0" width="1" height="250" src="{{ site.url }}/resource/spacer(1).gif" alt=""></td>
  		  </tr>

  		  <tr>
   		   <td><img border="0" width="1" height="5" src="{{ site.url }}/resource/spacer(1).gif" alt=""></td>
  		  </tr>

		</tbody>
                </table>


<map name="top_r1_c1Map" id="top_r1_c1Map">
  <area shape="rect" coords="871,97,992,127" href="{{ site.url }}/pages/contact.html">
  <area shape="rect" coords="724,98,845,128" href="{{ site.url }}/pages/feedback.html">
  <area shape="rect" coords="571,97,692,127" href="{{ site.url }}/pages/news.html">
  <area shape="rect" coords="429,97,550,127" href="{{ site.url }}/pages/cultural.html">
  <area shape="rect" coords="281,97,402,127" href="{{ site.url }}/pages/product.html">
  <area shape="rect" coords="135,97,256,127" href="{{ site.url }}/pages/about.html">
  <area shape="rect" coords="2,97,123,127"   href="{{site.url}}/index.html">
</map>
	 </td>

   <td><img border="0" width="1" height="388" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
  </tr>
  <tr>
   <td colspan="12"><img border="0" width="1002" height="8" name="index_r2_c1" src="{{ site.url }}/resource/index_r2_c1.jpg" id="index_r2_c1" alt=""></td>
   <td><img border="0" width="1" height="8" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
  </tr>
  <tr>
   <td bgcolor="#FFFFFF" valign="middle" colspan="3"><img border="0" width="246" height="48" name="index_r3_c1" src="{{ site.url }}/resource/index_r3_c1.jpg" id="index_r3_c1" alt=""></td>
   <td background="{{ site.url }}/resource/index_r3_c4.jpg" rowspan="2">&nbsp;</td>
   <td bgcolor="#FFFFFF" valign="bottom" colspan="3"><img border="0" width="434" height="48" name="index_r3_c5" src="{{ site.url }}/resource/index_r3_c5.jpg" id="index_r3_c5" alt=""></td>
   <td background="{{ site.url }}/resource/index_r3_c8.jpg" rowspan="2">&nbsp;</td>
   <td bgcolor="#FFFFFF" valign="bottom" colspan="4"><img border="0" width="293" height="48" name="index_r3_c9" src="{{ site.url }}/resource/index_r3_c9.jpg" id="index_r3_c9" alt=""></td>
   <td><img border="0" width="1" height="48" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
  </tr>
  <tr>
   <td background="{{ site.url }}/resource/index_r4_c1.jpg">&nbsp;</td>

   <td background="{{ site.url }}/resource/index_r4_c2.jpg" valign="top"><table border="0" align="center" width="98%" cellspacing="0" cellpadding="0">
     <tbody><tr>
       <td background="{{ site.url }}/resource/laimu.jpg" width="10" height="18">&nbsp;</td>
       <td background="{{ site.url }}/resource/laimu.jpg">

<style type="text/css">
&lt;!--
.STYLE1 {color: #CC0000}
--&gt;
</style>

<table border="0" width="99%" cellspacing="0" cellpadding="0">

	<tbody>

	<tr>
	  <td align="center" width="243" height="20"><table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody><tr background="{{ site.url }}/resource/0.html" height="20">
          <td background="{{ site.url }}/resource/pv.jpg" height="30" style="BORDER-bottom: #999999 1px dotted"><table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td align="center" width="17%">&nbsp;</td>
              <td width="83%"><a href="{{ site.url }}/pages/products/电压力锅系列.html">Electric pressure cooker</a></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
	</tr>
	

	<tr>
	  <td align="center" width="243" height="20"><table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody><tr background="{{ site.url }}/resource/0.html" height="20">
          <td background="{{ site.url }}/resource/pv.jpg" height="30" style="BORDER-bottom: #999999 1px dotted"><table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td align="center" width="17%">&nbsp;</td>
              <td width="83%"><a href="{{ site.url }}/pages/products/电磁炉系列.html">Induction cooker</a></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
	</tr>
	

	<tr>
	  <td align="center" width="243" height="20"><table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody><tr background="{{ site.url }}/resource/0.html" height="20">
          <td background="{{ site.url }}/resource/pv.jpg" height="30" style="BORDER-bottom: #999999 1px dotted"><table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td align="center" width="17%">&nbsp;</td>
              <td width="83%"><a href="{{ site.url }}/pages/products/豆浆机系列.html">Soymilk</a></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
	</tr>
	

	<tr>
	  <td align="center" width="243" height="20"><table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody><tr background="{{ site.url }}/resource/0.html" height="20">
          <td background="{{ site.url }}/resource/pv.jpg" height="30" style="BORDER-bottom: #999999 1px dotted"><table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td align="center" width="17%">&nbsp;</td>
              <td width="83%"><a href="{{ site.url }}/pages/products/电热水壶系列.html">Electric kettle</a></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
	</tr>
	

	<tr>
	  <td align="center" width="243" height="20"><table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody><tr background="{{ site.url }}/resource/0.html" height="20">
          <td background="{{ site.url }}/resource/pv.jpg" height="30" style="BORDER-bottom: #999999 1px dotted"><table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td align="center" width="17%">&nbsp;</td>
              <td width="83%"><a href="{{ site.url }}/pages/products/光波炉系列.html">Convection Oven</a></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
	</tr>
	

	<tr>
	  <td align="center" width="243" height="20"><table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody><tr background="{{ site.url }}/resource/0.html" height="20">
          <td background="{{ site.url }}/resource/pv.jpg" height="30" style="BORDER-bottom: #999999 1px dotted"><table border="0" width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
              <td align="center" width="17%">&nbsp;</td>
              <td width="83%"><a href="{{ site.url }}/pages/products/酸奶机系列.html">Yogurt Maker</a></td>
            </tr>
          </tbody></table></td>
        </tr>
      </tbody></table></td>
	</tr>
	
</tbody>
	

</table>
</td>
     </tr>
   </tbody></table></td>

   <td background="{{ site.url }}/resource/index_r4_c3.jpg">&nbsp;</td>
   <td background="{{ site.url }}/resource/index_r4_c5.jpg">&nbsp;</td>
   <td background="{{ site.url }}/resource/index_r4_c6.jpg" valign="top">

  	 <p>{{content}}</p>

   </td>
   <td background="{{ site.url }}/resource/index_r4_c7.jpg">&nbsp;</td>
   <td background="{{ site.url }}/resource/index_r4_c9.jpg">&nbsp;</td>
   <td background="{{ site.url }}/resource/index_r4_c10.jpg" valign="top" colspan="2">
<table border="0" width="100%">

  <tbody><tr>
    <td width="27%">Address:</td>
    <td width="73%">Second Floor,No.1, Xiaohuangpu,Jianye zhong Road,Ronggui Town, Shunde District.</td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>0757-28370099</td>
  </tr>
  <tr>
    <td>Fax:</td>
    <td>0757-28372211</td>
  </tr>
  <tr>
    <td>Website:</td>
    <td>www.marketon.cn</td>
  </tr>
</tbody></table>

</td>
   <td background="{{ site.url }}/resource/index_r4_c12.jpg">&nbsp;</td>
   <td><img border="0" width="1" height="145" src="{{ site.url }}/resource/spacer.gif" alt=""></td>
  </tr>
  
  
  <tr>
   <td colspan="12"><img border="0" width="1002" height="18" alt="" id="index_r5_c1" src="{{ site.url }}/resource/index_r5_c1.jpg" name="index_r5_c1"></td>
   <td><img border="0" width="1" height="18" alt="" src="{{ site.url }}/resource/spacer.gif"></td>
  </tr>  
  
<tr>

<td background="{{ site.url }}/resource/index_r9_c1.jpg" colspan="12">
<table border="0" width="1002">
  <tbody>
   <tr>
    <td width="3%">&nbsp;</td>
    <td><span class="STYLE1">Copyright(C)2013 Foshan Marketon Electric Co.,Ltd.</span></td>
   </tr>
   </tbody>
</table>
</td>

   <td><img border="0" width="1" height="48" src="{{ site.url }}/resource/spacer.gif" alt=""></td>

</tr>

</tbody>
</table>





</body></html>
